<?php

/**
 * @file
 * Settings for the development VM environment.
 */

$databases['default']['default'] = array(
  'database' => '{{ drupal7_db_name }}',
  'username' => '{{ drupal_db_user }}',
  'password' => '{{ drupal_db_password }}',
  'prefix' => '',
  'host' => '{{ drupal_db_host|default(localhost) }}',
  'driver' => 'mysql',
  'charset' => 'utf8mb4',
  'collation' => 'utf8mb4_general_ci',
);
